/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}
// THE CRAZY ROB CSS STARTS HERE
// FRONT PAGE DESKTOP STYLING
post-template-default {
	background: $color__background-body ;
	align-content: center;
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 15vh 15vh 10vh 20vh 40vh ;
	grid-template-areas: "header
						  quote
						  author
						  another
						  footer";
}

